<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>/* strong-js */</title>
    
    <link rel=stylesheet href=bower_components/strong-css/dist/css/strong-css.css>
    <script src=/js/strong.js></script>
    </head>
    <body id=thestrongelement-com>
		  <div class=ui role=application>

       
        <header>
          <strong id=logo--thestrongelement>The <code>strong</code> element</strong>
        </header>
        <main role=main>
          <article>
            <h1>Nulla et nulla vel nibh tempor gravida ac a mi</h1>
            <p>Pellentesque scelerisque dui quis augue fermentum facilisis. Fusce accumsan, nisi ut dapibus commodo, ligula leo consectetur mauris, sit amet ornare urna nunc elementum turpis. Suspendisse lobortis gravida magna eu adipiscing.</p>
          </article>
        </main>
        <footer>
          &copy; 2016 The Strong Element Company
        </footer>
      
      
      </div>
	</body>
</html>
